:root{
    --textoEncriptado: 'Orbitron', sans-serif;
    --textoPagina: 'IBM Plex Mono', monospace;
    --colorPpal: #16FF00;
    --colorsecundario: #ffffff;
    --backgroundColor: #263A29;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 22px;
    background-color: var(--backgroundColor);
    font-family: var(--textoPagina);
    color: var(--colorPpal);
    
}
.container{
    max-width: 1400px;
}
.titulo {
    font-family: var(--textoEncriptado);
    text-align: center;
    letter-spacing: 2px;
    padding: 50px;
}
.parrafo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.flex{
    display: flex;
    margin-top: 100px;
}
.caja{
    width: 300px;
    height: 500px;
    background-color: var(--backgroundColor);
    border: 2px solid var(--colorPpal);
    border-radius: 10px;
    padding: 20px ;
    color: var(--colorPpal);
    font-size: 18px;
}
.textarea {
    width: 250;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.boton{
    width: 300px;
    padding: 15px;
    text-align: center;
}
.btn:hover{
    color: var(--colorPpal);
    border: 2px solid var(--colorsecundario);
}
.btn{
    height: 40px;
    width: 120px;
    border: 2px solid var(--colorPpal);
    border-radius: 10px;
    background-color: var(--backgroundColor);   
    color: var(--colorsecundario);
    font-family: var(--textoPagina);
}
.footer{
    background-color: #ffffff;
    color: #2C3333;
    font-family: var(--textoEncriptado);
    padding: 0%;
}
.footer li {
    padding: 1%;
    margin-left: 1px;
    list-style: none;
}
.redes{
    display: flex;
    justify-content: left;
    align-items: stretch;
}

/* AGREGADO NUEVO*/

.titulo::after {
    content: "|";
    margin-left: 5px;
    animation: blink .7s linear infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}


.escribir {
    animation: typing 2s steps(40, end);
    overflow: hidden;
    white-space: nowrap;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
